---
layout: default
---

<div class="home">

    <ul class="post-list">
        {% for post in paginator.posts %}
        <li style="clear: both">
            <span class="post-meta">
                {{ post.date | localize: "%d. %B %Y" }}
                {% unless post.categories == empty %}
                {% for category in post.categories %}
                 • <a href="/category/{{category | slugify}}">{{ category }}</a>
                {% endfor %}
                {% endunless %}
            </span>

            <h2>
                <a class="post-link" href="{{ post.url | prepend: site.baseurl }}">{{ post.title }}</a>
            </h2>
            {{ post.excerpt | hyphenate }}
        </li>
        {% endfor %}
    </ul>

    <!-- Pagination links -->
    <div class="pagination">
        {% if paginator.previous_page %}
        <a href="{{ paginator.previous_page_path }}" class="previous">&laquo; Novější</a>
        {% else %}
        <span class="previous">&nbsp;</span>
        {% endif %}
        {% if paginator.next_page %}
        <a href="{{ paginator.next_page_path }}" class="next">Starší &raquo;</a>
        {% else %}
        <span class="next ">&nbsp;</span>
        {% endif %}
    </div>

    <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>

</div>
