<head>
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
  <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

  <link rel="stylesheet" href="{{ "/css/main.css" | prepend: site.baseurl }}">
  <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">
  <link rel="alternate" type="application/rss+xml" title="{{ site.title }}" href="{{ "/feed.xml" | prepend: site.baseurl | prepend: site.url }}" />

  <meta name="twitter:card" content="summary">
  <meta name="twitter:creator" content="@{{ site.twitter_username }}">
  {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  {% endif %}
  {% if page.url %}
  <meta name="twitter:url" content="{{ page.url | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
  {% if page.description %}
  <meta name="twitter:description" content="{{ page.description }}">
  {% else %}
  <meta name="twitter:description" content="{{ page.content | strip_html | xml_escape | truncate: 200 }}">
  {% endif %}
  {% if page.image %}
  <meta name="twitter:image:src" content="{{ page.image | prepend: site.baseurl | prepend: site.url }}">
  {% endif %}
</head>
